{% extends "myapp/base.html" %}
{% load static %}

!DOCTYPE html>
<html>
<body>
{% block content %}
{% include "myapp/base.html" %}

<div class="container nav-wrapper">
    <h4 align="center" class="green-text">{{name}}</h4>

    {% if sideways == True %}
        <div class="row">
            <div class="col s6">
                <div class="card black hoverable">
                    <div align="left">
                        <img src="data:image/png;base64,{{ photo }}" width = "500" height="auto">
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div align="center" style="font-size:24px; color:white; font-family:Helvetica Neue; font-style:italic">
                    <p>{{message|linebreaks}}</p>
<!--                    <p style="font-size:24px; color:white; font-family:Helvetica Neue; font-style:italic">{{message|linebreaks}}</p>-->
                </div>
            </div>
        </div>

    {% else %}

        <div class="row">
            <div class="col s12">
                <div class="card black hoverable">
                    <div align="center">
                        <img src="data:image/png;base64,{{ photo }}" width = "800" height="auto">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div align="center" style="font-size:24px; color:white; font-family:Helvetica Neue; font-style:italic">
                    <p>{{message|linebreaks}}</p>
<!--                   <p style="font-size:24px; color:white; font-family:Helvetica Neue; font-style:italic">{{message|linebreaks}}</p>-->
                </div>
            </div>
        </div>

    {% endif %}
</div>
{% endblock content %}
</body>
</html>
