{% extends "myapp/base.html" %}
{% load static %}
<!DOCTYPE html>
<html>

<body>
{% block content %}
{% include "myapp/base.html" %}

<!--<div class="container nav-wrapper">-->

    <div class="row">
        <div class="col s4">
            <div style="float:left; ">
                <img height="550" class="materialboxed" style="cursor:default"
                     src="{% static 'myapp/images/hb3.gif' %}">
            </div>
        </div>
        <div class="col s4">
            <center>
                <img width="500" alt="centered image" src="{% static 'myapp/images/Prerna.png' %}">
            </center>
        </div>

        <div class="col s4">
            <div style="float:right; ">
                <img height="550" class="materialboxed" style="cursor:default"
                     src="{% static 'myapp/images/hb3.gif' %}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s2">
            <div style="float:left; ">
                <img class="materialboxed" style="cursor:default"
                     src="{% static 'myapp/images/hb3.gif' %}">
            </div>
        </div>
        <div class="col s2">
            <div style="float:left; ">
                <img class="materialboxed" style="cursor:default"
                     src="{% static 'myapp/images/hb3.gif' %}">
            </div>
        </div>
        <div class="col s2">
            <div style="float:left; ">
                <img class="materialboxed" style="cursor:default"
                     src="{% static 'myapp/images/hb3.gif' %}">
            </div>
        </div>

        <div class="col s2">
            <div style="float:right; ">
                <img class="materialboxed" style="cursor:default"
                     src="{% static 'myapp/images/hb3.gif' %}">
            </div>
        </div>
        <div class="col s2">
            <div style="float:right; ">
                <img class="materialboxed" style="cursor:default"
                     src="{% static 'myapp/images/hb3.gif' %}">
            </div>
        </div>
                <div class="col s2">
            <div style="float:right; ">
                <img class="materialboxed" style="cursor:default"
                     src="{% static 'myapp/images/hb3.gif' %}">
            </div>
        </div>
    </div>
<!--</div>-->
<!--<audio autoplay>
  <source src="{% static 'myapp/media/H2.mp3' %}">
</audio>-->

<!--    <div style="width:1200px">

        <div style="float:left; ">
            <img class="materialboxed" width="450" height="550" style="cursor:default" src="{% static 'myapp/images/main4.png' %}">
        </div>
        <div style="float:right;">
            <span style="cursor:default"></span>
            <img class="materialboxed" width="450" height="550" style="cursor:default" src="{% static 'myapp/images/main.png' %}">
        </div>

        <div style="float:left;">
            <img class="materialboxed" width="450" style="cursor:default" src="{% static 'myapp/images/hb3.gif' %}">
        </div>
        <div style="float:right;">
            <img class="materialboxed" width="450" style="cursor:default" src="{% static 'myapp/images/hb3.gif' %}">
        </div>
    </div>
</div>-->


{% endblock %}
</body>

</html>