{% extends "myapp/base.html" %}
{% load static %}
<!DOCTYPE html>
<html>

<body>
{% block content %}
{% include "myapp/base.html" %}
<div class="container nav-wrapper">
    {% if length == 1 %}
        <h4 class = "green-text" align = "center"> {{length}} entry found</h4>
    {% else %}
        <h4 class = "green-text" align = "center"> {{length}} entries found</h4>
    {%endif%}
</div>
<div class="container nav-wrapper">
    <div class="row">
        {% for l in displaylist %}
            <div class="col s12 m4">
                <div class="card small">
                    <div class="card-image waves-effect waves-block waves-light" >
                        <a href = "{% url 'myapp:detail' l.0%}"><img class="activator" src={{l.1}}></a>
                    </div>
                    <div class="card-content">
                        <a href = "{% url 'myapp:detail' l.0%}"><span class="card-title activator grey-text text-darken-4">{{l.0}}</span></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}
</body>

</html>