{% extends "myapp/base.html" %}
{% load static %}

!DOCTYPE html>
<html>
<body>
{% block content %}
{% include "myapp/base.html" %}

<div class="container nav-wrapper">
    <h4 align="center" class="green-text">A message from {{name}}</h4>

    <div class="row">
        <div class="col s6">
            <div class="card black hoverable">
                <div align="left">
                    <img src="data:image/png;base64,{{ photo }}" width="600">
                </div>
            </div>
        </div>
        <div class="col s6">

            <div align="center">
                <p style="font-size:24px; color:white; font-family:Helvetica Neue; font-style:italic">{{message}}</p>
            </div>

        </div>

    </div>
</div>
{% endblock content %}
</body>
</html>
