{% extends "myapp/base.html" %}
{% load static %}

!DOCTYPE html>
<html>
<body>
{% block content %}
{% include "myapp/base.html" %}

<div class="container nav-wrapper">
    <h4 align="center" class="green-text">A video from {{name}}</h4>

    <div class="row">
        <div class="col s6">
            <div class="card black hoverable">
                <video width='1000' controls>
                    <source src="Pbday/myapp/static/myapp/videos/VID-20201026-WA0010_tFrlX8I.mp4">
                </video>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
</body>
</html>
